body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: white;
  line-height: 1.6;
}

header {
  background-color: #660066; /* Purple */
  color: #fff;
  text-align: center;
  padding: 4em 0;
}

.banner img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ff66b2; /* Pink */
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

nav {
  background-color: #330033; /* Dark Purple */
  padding: 1em 0.5em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 1em;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  color: #fff;
  background-color: #ff66b2;
}

section {
  max-width: 800px;
  margin: 2em auto;
  padding: 2em;
  background-color: #292929;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #555; /* Dropdown background color */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

article {
  margin-bottom: 2em;
}

h2 {
  color: #ff66b2; /* Pink */
}

.post-meta {
  color: #ccc;
  font-size: 0.8em;
}

footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}
